@{
    Layout = null;
}
    <h2>Profile</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{Profile}}?
            <div class="form-group">
                <label for="NotesOfVisit" class = "control-label col-md-2">
                NotesOfVisit
                </label>
                <div class="col-md-10">
                    {{data.NotesOfVisit}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Pet" class = "control-label col-md-2">
                 Pet
                </label>
                <div class="col-md-10">
                    {{data.Pet_Name}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/Profile">Back to List</a>
    </div>
